COMPOSE_PROJECT_NAME=

ASPNETCORE_ENVIRONMENT=
ASPNETCORE_URLS=
ASPNETCORE_KESTREL__CERTIFICATES__DEFAULT__PATH=
ASPNETCORE_KESTREL__CERTIFICATES__DEFAULT__PASSWORD=

BASEADDRESS__MAIN=
BASEADDRESS__IDENTITY=
BASEADDRESS__ORDER=

NGINX_CONF_HOST_PATH=
NGINX_CONF_CONTAINER_PATH=
NGINX_CERT_HOST_PATH=
NGINX_CERT_CONTAINER_PATH=
NGINX_KEY_HOST_PATH=
NGINX_KEY_CONTAINER_PATH=

TERRAFORM_HOST_PATH=
TERRAFORM_CONTAINER_PATH=

POSTGRES_PASSWORD=
POSTGRES_DB=

AWS_CREDENTIALS_HOST_PATH=
AWS_CREDENTIALS_CONTAINER_PATH=
AWS_SHARED_CREDENTIALS_FILE=
AWS_REGION=

LOCALSTACK__ISENABLED=
LOCALSTACK__SERVICEURL=

CERTIFICATES_HOST_PATH=
CERTIFICATES_CONTAINER_PATH=
NGINX_CERTIFICATES_PATH=

MONGO_CERTIFICATE_CONTAINER_PATH=
MONGO_CERTIFICATE_HOST_PATH=
MONGO__DATABASE=
MONGO__REPORT_COLLECTION=

# Remote
# CONNECTIONSTRINGS__DEFAULT=
CONNECTIONSTRINGS__MONGO=

# Local
CONNECTIONSTRINGS__DEFAULT=

AWSS3PARAMS01__BUCKETNAME=
AWSS3PARAMS01__URIEXPIRATIONMINUTES=

IDENTITY__ISSUER=
IDENTITY__AUDIENCE=
IDENTITY__TOKENLIFETIME=
IDENTITY__KEY=
IDENTITY__ADMIN__USER=
IDENTITY__ADMIN__USER__PASSWORD=

HEALTHCHECKSUI__HEALTHCHECKS__0__NAME=
HEALTHCHECKSUI__HEALTHCHECKS__0__URI=
HEALTHCHECKSUI__HEALTHCHECKS__1__NAME=
HEALTHCHECKSUI__HEALTHCHECKS__1__URI=
HEALTHCHECKSUI__HEALTHCHECKS__2__NAME=
HEALTHCHECKSUI__HEALTHCHECKS__2__URI=
HEALTHCHECKSUI__HEALTHCHECKS__3__NAME=
HEALTHCHECKSUI__HEALTHCHECKS__3__URI=
HEALTHCHECKSUI__HEALTHCHECKS__4__NAME=
HEALTHCHECKSUI__HEALTHCHECKS__4__URI=
HEALTHCHECKSUI__HEALTHCHECKS__5__NAME=
HEALTHCHECKSUI__HEALTHCHECKS__5__URI=

NOTIFICATOR__AWSSQSQUEUEMONITORPARAMS01__QUEUENAME=
NOTIFICATOR__AWSSQSQUEUEMONITORPARAMS01__QUEUEOWNERAWSACCOUNTID=
NOTIFICATOR__AWSSQSQUEUEMONITORPARAMS01__MAXNUMBEROFMESSAGES=
NOTIFICATOR__AWSSQSQUEUEMONITORPARAMS01__WAITTIMESECONDS=
NOTIFICATOR__AWSSQSQUEUEMONITORPARAMS01__MSGPROCESSORSERVICENAME=
NOTIFICATOR__AWSSQSQUEUEMONITORPARAMS01__MILLISECONDSDELAY=

NOTIFICATOR__EMAILCONFIGURATION__FROM=
NOTIFICATOR__EMAILCONFIGURATION__TO=
NOTIFICATOR__EMAILCONFIGURATION__SESTEMPLATE=

MAIN__AWSSQSQUEUEMONITORPARAMS01__QUEUENAME=
MAIN__AWSSQSQUEUEMONITORPARAMS01__QUEUEOWNERAWSACCOUNTID=
MAIN__AWSSQSQUEUEMONITORPARAMS01__MAXNUMBEROFMESSAGES=
MAIN__AWSSQSQUEUEMONITORPARAMS01__WAITTIMESECONDS=
MAIN__AWSSQSQUEUEMONITORPARAMS01__MSGPROCESSORSERVICENAME=
MAIN__AWSSQSQUEUEMONITORPARAMS01__MILLISECONDSDELAY=

ORDER__AWSSQSMESSAGESENDERPARAMS01__QUEUENAME=
ORDER__AWSSQSMESSAGESENDERPARAMS01__QUEUEOWNERAWSACCOUNTID=
ORDER__AWSSQSMESSAGESENDERPARAMS01__ISFIFO=
ORDER__AWSSQSMESSAGESENDERPARAMS01__ENABLEMESSAGEDEDUPLICATION=

ORDER__AWSSQSMESSAGESENDERPARAMS02__QUEUENAME=
ORDER__AWSSQSMESSAGESENDERPARAMS02__QUEUEOWNERAWSACCOUNTID=
ORDER__AWSSQSMESSAGESENDERPARAMS02__ISFIFO=
ORDER__AWSSQSMESSAGESENDERPARAMS02__ENABLEMESSAGEDEDUPLICATION=

INVOICEGENERATOR__AWSSQSQUEUEMONITORPARAMS01__QUEUENAME=
INVOICEGENERATOR__AWSSQSQUEUEMONITORPARAMS01__QUEUEOWNERAWSACCOUNTID=
INVOICEGENERATOR__AWSSQSQUEUEMONITORPARAMS01__MAXNUMBEROFMESSAGES=
INVOICEGENERATOR__AWSSQSQUEUEMONITORPARAMS01__WAITTIMESECONDS=
INVOICEGENERATOR__AWSSQSQUEUEMONITORPARAMS01__MSGPROCESSORSERVICENAME=
INVOICEGENERATOR__AWSSQSQUEUEMONITORPARAMS01__MILLISECONDSDELAY=

INVOICEGENERATOR__AWSSQSMESSAGESENDERPARAMS01__QUEUENAME=
INVOICEGENERATOR__AWSSQSMESSAGESENDERPARAMS01__QUEUEOWNERAWSACCOUNTID=
INVOICEGENERATOR__AWSSQSMESSAGESENDERPARAMS01__ISFIFO=
INVOICEGENERATOR__AWSSQSMESSAGESENDERPARAMS01__ENABLEMESSAGEDEDUPLICATION=
